#root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  #map-container {
    height: calc(100% - 70px); /* Subtract navbar height */
    width: 100%;
    position: absolute;
    top: 70px; /* Same as your navbar height */
    left: 0;
    margin: 0;
    /* Remove the transform that was centering it */
  }
  
  .add-button {
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 12px;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
  }