body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
  }

  .header {
    text-align: center;
    font-size: 3rem;
    color: #000;
    position:absolute;
    left:45.5%;
    top:15%;
  }

  .sub-header{
    text-align: center;
    color: #000;
    position:absolute;
    left:45%;
    top:25%;
  }

  .form-container {
    width: 300px;
    height:150px;
    background:  white;
    opacity:0.5;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: absolute;
    margin-top:200px;
    left:42%;
    top:15%;
    border: 2px solid black;
  }

  .login-button{
    cursor:pointer;
    background-color: yellow;
    border-radius: 6px;
    position:absolute;
    left:30%;
    top:50%;
    transform:translate(-50%,-50%);
    height:30px;
    width:80px;
    border: 2px solid black;
    transition: all 0.2s ease
  }

  .login-button:hover{
    background-color: rgb(51, 80, 117);
  }

  .signup-button{
    cursor:pointer;
    background-color: yellow;
    border-radius: 6px;
    position:absolute;
    left:70%;
    top:50%;
    transform:translate(-50%,-50%);
    height:30px;
    width:80px;
    border: 2px solid black;
  }

  .signup-button:hover{
    background-color: rgb(51, 80, 117);
  }